* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'lato';
    font-size: 22px;
    overflow-x: hidden;
    box-sizing: border-box;

}

body {
    background: rgb(60, 158, 214);
}

h1 {
    font-family: "Baloo-Regular", sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: "Baloo-Regular", sans-serif;
    font-size: 2.5rem;
}

p {
    line-height: 2rem;
}

.bold {
    font-weight: 600;
}

.white {
    color: #fff;
}

.purple {
    color: #777af5;
}

.noPointer {
    pointer-events: none;
}

.btmBorder {
    border-bottom: 5px solid white;
    text-align: left;
    margin-bottom: 35px;
}

header,
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    max-height: 90px;
    background: #777af5;
    box-shadow: rgb(46 59 240 / 72%) 0px 7px, rgb(255 255 255 / 0%) 0px 10px;
}

section {
    padding: 20px;
    height: auto;
    text-align: center;
    margin: 60px 0;
}

.centerSection {
    width: 60vw;
    display: inline-block;
}

.whiteBackground {
    background: rgba(255, 255, 255, 0.61);
    border-radius: 10px;
}

.menu {
    color: white;
    font-size: 25px;
    margin: 20px;
    width: 5vw;
    max-height: 100px;
    background: #777af5;
    border: none;
    border-radius: 10px;
}

.menu-options .off {
    display: none;
}

.menu-options .newStyle {
    display: block;
    width: 100px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border: 1px solid purple;
    border-radius: 10px;
    height: auto;
    z-index: 9999999;
    text-align: right;
}

div#menu-container {
    display: none;
    justify-content: space-evenly;
    background: #777af5;
    padding: 20px;
}

.menu-item:hover+.hide {
    display: block;
    color: white;
    content: "bingbong";
}

i {
    padding: 10px;
    justify-content: center;
    font-family: "Font Awesome 5 Free", "FontAwesome";
    font-size: 25px;
    font-style: normal;
    color: #fff;
}

i:hover {
    font-size: 24px;
    transform: translateX(5px);
}


.left {
    text-align: left;
}

.right {
    text-align: right
}

.center {
    text-align: center;
}

.sml-img {

    width: 25vw;
    text-align: center;
}

.med-img {

    width: 50vw;
    text-align: center;
}

.imageZoom {
    width: 20vw;
}

.pad-100 {
    padding: 80px;
}

.pad-50 {
    padding: 30px;
}

.pad-10 {
    padding: 10px;
}

.pad-20 {
    padding: 20px;
}

.pad-left {
    padding-left: 80px;
}

.pad-right {
    padding-right: 80px;
}

.lrg-img {
    width: 90vw;
    text-align: center;
}

.whitesmoke {
    background-color: #f5f5f5;
}

.hide {
    display: none !important;
}

.show {
    display: flex !important;
    flex: 5;
}

input,
button,
submit {
    border: none;
    background: none;
}

.lowOpacity {
    opacity: 0.2;
}

.closeButton {
    background: none;
    font-size: 20px;
}

.index {
    background-image: url(/images/background-purple.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.homepage {
    /* background-image: url(/images/homepage-background.webp); */
    background-color: #e7cbfd;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.titleBox {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-style: none;
    padding: 20px 15px;
    flex: 1;
    background: #777af5;
}


#card-container {
    display: inline-block;
    width: 80vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    height: auto;
}

#card {
    width: 15vw;
    border-radius: 5px;
    display: inline-block;
    margin: 30px 15px 15px 30px;
}

#cardImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 0.5;
    filter: blur(2px)
}

#cardTitle {
    font-family: "Baloo-Regular", sans-serif;
    font-size: 20px;
    padding: 20px 0;
}

.homepageTitle {
    font-size: 30px;
    font-family: "Baloo-Regular", sans-serif;
    color: #fff;
}

@font-face {
    font-family: "Baloo-Regular";
    src: url(/fonts/Baloo-Regular.ttf);
}

.signUpSection {
    display: flex;
    justify-content: center;
}

.signUpForm {
    width: 60vw;
    height: auto;
    background: #777af5;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(46 59 240 / 72%) 0px 7px, rgb(255 255 255 / 0%) 0px 10px;
    margin-top: 30px;
}

.emailInput {
    min-height: 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: 10px;
}

.signUpForm label {
    color: white;
    padding: 0px 20px 0px 0px;
}

.signUpButton {
    border: none;
    background: white;
    width: 10vw;
    border-radius: 10px;
    height: 5vh;
    pointer-events: none;
}

.signUpForm input[type=text] {
    color: #4c4c4c40;
    pointer-events: none;
}

.signUpForm input[type=text]:focus-visible {
    border: none;
    background: #dcbbfa;
    color: white;
}


#homeButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    border-style: none;
    padding: 20px;
    background: #777af5;
    box-shadow: rgb(46 59 240 / 72%) 0px 7px, rgb(255 255 255 / 0%) 0px 10px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-family: "Baloo-Regular", sans-serif;
}

.textAlign {
    padding: 0px 10px;
    position: relative;
    top: 5px;
}


.title {
    font-size: 30px;
    font-family: "Baloo-Regular", sans-serif;
    color: #fff;
}

.menuIcon {
    text-align: right;
    padding-right: 30px;
    font-size: 30px;
    font-family: "Baloo-Regular", sans-serif;
    color: #fff;
}


.whiteText {
    font-size: 25px;
    color: #fff;
}

.welcomeTitle {
    text-shadow: rgb(46 59 240 / 62%) 0px 7px, rgb(255 255 255 / 50%) 0px 10px;
    font-size: 80px;
    color: white;
    font-family: "Baloo-Regular", sans-serif;
    MARGIN-top: 100px;
}

.banner {
    background-color: yellow;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a:-webkit-any-link {
    text-decoration: none;
}

.hover-color {
    background-color: rgb(81, 176, 231);
}


@font-face {
    font-family: "";
    src: url(/fonts/.ttf);
}

.displayNone {
    display: none;
}

.underline {
    text-decoration: underline;
}





/* IPAD STYLING */

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

/* MOBILE STYLING */

@media only screen and (max-width: 768px) {

    .mobNone {
        display: none;
        flex: 0 !important;
    }

    header {
        max-height: 200px;
    }

    body {
        margin: 0px !important;
        overflow-x: hidden;
    }

    section {
        margin: 5px 0;
    }

    .pad-100 {
        padding: 0;
    }

    .pad-50 {
        padding: 0;
    }

    .pad-10 {
        padding: 0;
    }

    .centerSection {
        width: 90vw;
        display: inline-block;
    }

    .index {
        background-image: url(/images/backgroundPurple-mobile.gif);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }

    .menu {
        color: white;
        font-size: 25px;
        margin: 20px;
        width: 15vw;
        height: 7vh;
        background: #777af5;
        border: none;
        border-radius: 10px;
    }

    .titleBox {
        flex: 3;
        padding: 20px 10px !important;
    }

    #menu-container {
        padding: 20px 10px !important;
    }

    .title {
        font-size: 26px;
    }

    .show {
        flex-wrap: wrap;
    }

    #card {
        width: 25vw;
        margin: 0px;
    }

    .homepage {
        /* background-image: url(/images/background-pink.gif); */
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }

    .signUpForm {
        width: 100vw;
        height: auto;
        background: #777af5;
        border-radius: 10px;
        display: block;
        /* margin-top: 30px; */
    }

    .signUpButton {
        width: 50vw;
    }

    .emailInput {
        margin-top: 10px;
    }

    .welcomeTitle {
        margin: 0px;
    }

    .signUpForm label {
        padding: 0px;
    }

    .signUpForm input[type=text] {
        text-align: center;
    }
}


@media only screen and (max-width: 600px) {}